@import "tailwindcss";

:root {
  --color-deep-green: #013E37;
  --color-cream: #FFEFB3;
  --color-ink: #0A1210;
  --color-paper: #F7F5EF;
  --color-stone: #8A8D87;
}

@theme inline {
  --font-fraunces: var(--font-fraunces);
  --font-manrope: var(--font-manrope);
  --color-deep-green: var(--color-deep-green);
  --color-cream: var(--color-cream);
  --color-ink: var(--color-ink);
  --color-paper: var(--color-paper);
  --color-stone: var(--color-stone);
}

body {
  background: var(--color-paper);
  color: var(--color-ink);
}
